@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,600;0,700;1,700&display=swap");
body {
  margin: 0px;
  padding: 0px;
  font-family: "Montserrat", sans-serif;
}
body a {
  text-decoration: none;
}
body ul {
  padding-left: 0px;
  list-style: none;
  margin-bottom: 0px;
}
body h2 {
  text-transform: capitalize;
}
body * {
  box-sizing: border-box;
}

.navigation-bar {
  position: fixed;
  top: 0px;
  padding: 5px 0px;
  left: 0px;
  width: 100%;
  z-index: 9999;
  background-color: #000;
}
.navigation-bar .logo a {
  width: 100%;
}
.navigation-bar .logo a img {
  width: 100%;
}
.navigation-bar .navigation-links ul li {
  position: relative;
}
.navigation-bar .navigation-links ul li a {
  padding-bottom: 10px;
  color: #fff;
  text-transform: uppercase;
  transition: all 0.3s ease;
}
.navigation-bar .navigation-links ul li a:hover {
  transition: all 0.3s ease;
  color: #e94444;
}
.navigation-bar .navigation-links ul li .active-nav {
  position: relative;
  display: block;
  color: #e94444;
}
.navigation-bar .navigation-links ul li .active-nav::after {
  position: absolute;
  bottom: 8px;
  left: 50%;
  transform: translate(-50%);
  width: 50px;
  height: 2px;
  content: "";
  background-color: #e94444;
}
.navigation-bar .navigation-links ul .header-services-link .services-dropdown {
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s ease;
  background-color: rgba(255, 255, 255, 0.5);
  position: absolute;
  width: 150px;
  top: 90px;
  left: 0px;
}
.navigation-bar .navigation-links ul .header-services-link .services-dropdown li {
  border-bottom: 1px solid #000;
  border-left: 5px solid transparent;
  transition: all 0.3s ease;
  padding: 0px;
}
.navigation-bar .navigation-links ul .header-services-link .services-dropdown li a {
  display: block;
  padding-bottom: 0px;
  padding: 5px;
  color: #000;
}
.navigation-bar .navigation-links ul .header-services-link .services-dropdown li:hover {
  padding-left: 10px;
  transition: all 0.3s ease;
  border-left: 5px solid #000;
}
.navigation-bar .navigation-links ul .header-services-link:hover .services-dropdown {
  transition: all 0.3s ease;
  top: 26px;
  opacity: 1;
  visibility: visible;
}
.navigation-bar .social-media-icons {
  position: fixed;
  top: 50%;
  transform: translate(-50%);
  left: 30px;
}
.navigation-bar .social-media-icons ul {
  display: flex;
  transform: rotate(270deg);
}
.navigation-bar .social-media-icons ul li {
  padding: 0px 10px;
  font-size: 14px;
}
.navigation-bar .social-media-icons ul li a {
  color: #fff;
}
.navigation-bar .social-media-icons ul li a i {
  padding-right: 5px;
}

.home {
  margin-top: 0px;
}
.home .heading h1 {
  color: var(--e-global-color-primary);
  font-family: "Averta", Averta-Regular;
  font-size: 100px;
  font-weight: 900;
  text-transform: capitalize;
}
.home .heading h2 {
  font-family: "Playfair", Averta-Regular;
  font-size: 30px;
  font-weight: 500;
}
.home .heading .images {
  text-align: center;
}
.home .heading .images img {
  max-width: 100%;
  width: 100%;
  border: 1px solid #000;
}

.contact-form-wrapper {
  margin-top: 50px;
  padding: 80px 0px;
  background-color: #eee;
}
.contact-form-wrapper .contact-form {
  border-radius: 8px;
  overflow: hidden;
}
.contact-form-wrapper .contact-form .contact-left-section {
  padding: 50px;
  color: #fff;
  background-image: url(../../public/images/Contact-BG.webp);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  height: 100%;
}
.contact-form-wrapper .contact-form .contact-left-section h2 {
  font-size: 30px;
}
.contact-form-wrapper .contact-form .contact-left-section .contact-infos ul li {
  margin-bottom: 15px;
}
.contact-form-wrapper .contact-form .contact-left-section .contact-infos ul li a {
  color: #fff;
}
.contact-form-wrapper .contact-form .contact-left-section .contact-infos ul li a i {
  padding-right: 15px;
  font-size: 20px;
}
.contact-form-wrapper .contact-form .contact-left-section .social-media-links ul {
  display: flex;
}
.contact-form-wrapper .contact-form .contact-left-section .social-media-links ul li {
  margin-right: 20px;
}
.contact-form-wrapper .contact-form .contact-left-section .social-media-links ul li i {
  color: #fff;
}
.contact-form-wrapper .contact-form .contact-us-form {
  padding: 50px;
  background-color: #fff;
}
.contact-form-wrapper .contact-form .contact-us-form h2 {
  font-size: 30px;
}
.contact-form-wrapper .contact-form .contact-us-form p {
  color: rgb(64, 66, 82);
  margin-bottom: 20px;
}
.contact-form-wrapper .contact-form .contact-us-form input {
  width: 100%;
  height: 50px;
  padding-left: 15px;
  border: 1px solid #f0f0f0;
  background-color: #f0f0f0;
}
.contact-form-wrapper .contact-form .contact-us-form textarea {
  width: 100%;
  height: 100px;
  padding-left: 15px;
  border: 1px solid #f0f0f0;
  background-color: #f0f0f0;
  resize: none;
}
.contact-form-wrapper .contact-form .contact-us-form .error {
  padding-left: 15px;
  color: red;
  margin-bottom: 5px;
  opacity: 0;
  visibility: hidden;
}
.contact-form-wrapper .contact-form .contact-us-form .submit-button {
  text-align: center;
}
.contact-form-wrapper .contact-form .contact-us-form .submit-button button {
  text-transform: uppercase;
  font-weight: 900;
  padding: 8px 25px;
  background-color: #e94444;
  border: 1px solid #e94444;
  color: #fff;
  border-radius: 5px;
}

.project-and-team {
  margin: 100px 0px;
}
.project-and-team .team,
.project-and-team .project {
  display: flex;
  align-items: center;
}
.project-and-team .team .img-wrapper,
.project-and-team .project .img-wrapper {
  transition: all 0.3s ease;
  margin-right: 30px;
  position: relative;
  width: 200px;
}
.project-and-team .team .img-wrapper img,
.project-and-team .project .img-wrapper img {
  width: 200px;
  margin-right: 20px;
}
.project-and-team .team .img-wrapper::after,
.project-and-team .project .img-wrapper::after {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(0, 0, 0, 0.3);
  width: 0%;
  height: 0%;
  transition: all 0.3s ease;
  content: "";
  border-radius: 100%;
}
.project-and-team .team:hover,
.project-and-team .project:hover {
  transition: all 0.3s ease;
}
.project-and-team .team:hover .img-wrapper::after,
.project-and-team .project:hover .img-wrapper::after {
  width: 100%;
  height: 100%;
}
.project-and-team .team h2,
.project-and-team .project h2 {
  font-size: 25px;
}
.project-and-team .team p,
.project-and-team .project p {
  color: rgb(64, 66, 82);
  font-size: 14px;
  margin-bottom: 20px;
}

.banner-quotes {
  background-color: #e94444;
  padding: 100px 0px;
}
.banner-quotes h2 {
  text-align: center;
  font-size: 70px;
  color: #fff;
  font-weight: 900;
  margin-bottom: 30px;
}
.banner-quotes h2 i {
  font-size: 40px;
}
.banner-quotes h2 .fa-quote-left {
  margin-left: 20px;
}
.banner-quotes h2 .fa-quote-right {
  margin-right: 20px;
}
.banner-quotes p {
  font-size: 30px;
  color: #fff;
  text-align: center;
  margin-bottom: 30px;
}
.banner-quotes a {
  padding: 10px 30px;
  background-color: #fff;
  color: rgb(28, 29, 36);
}

footer {
  padding-top: 50px;
  background-color: rgb(28, 29, 36);
}
footer h2 {
  margin-bottom: 50px;
  text-align: center;
  font-style: normal;
  font-family: "Montserrat Alternates", sans-serif;
  font-size: 30px;
  line-height: 50px;
  color: rgb(243, 243, 243);
}
footer .logo {
  height: 100%;
  display: flex;
  align-items: center;
}
footer .logo img {
  max-width: 100%;
  width: 100%;
}
footer .footer-links h3,
footer .social-media-links h3,
footer .adress h3 {
  font-weight: 700;
  font-size: 16px;
  color: #e94444;
  margin-bottom: 20px;
}
footer .footer-links ul,
footer .social-media-links ul,
footer .adress ul {
  padding-left: 0px;
}
footer .footer-links ul li,
footer .social-media-links ul li,
footer .adress ul li {
  margin-bottom: 15px;
}
footer .footer-links ul li a,
footer .social-media-links ul li a,
footer .adress ul li a {
  color: rgb(243, 243, 243);
  text-transform: uppercase;
}
footer .adress ul li {
  color: rgb(243, 243, 243);
  position: relative;
}
footer .adress ul li i {
  font-size: 20px;
  position: absolute;
  top: 5px;
  left: -30px;
}
footer .bb {
  padding-bottom: 50px;
  border-bottom: 2px solid rgb(255, 216, 27);
}
footer .copyright {
  color: #fff;
  padding: 20px 0px;
  text-align: center;
}/*# sourceMappingURL=contact-us.css.map */